<div class="document">

  <div class="header">בְּרֵאשִׁית</div>
  <div class="content">
    <p>
      
      SpaceIL is a non-profit organization established in 2011 aiming to land the first Israeli spacecraft on the Moon.
      The organization was founded by three young engineers: Yariv Bash, Kfir Damari and <strong>Yonatan</strong>  Winetraub who answered
      the international challenge presented by Google Lunar XPRIZE: to build, launch and land an unmanned spacecraft on
      the Moon. SpaceIL was the only Israeli representative. In October 2015, SpaceIL reached a dramatic project milestone
      by becoming the first team to announce a signed launch contract, that symbolizes an actual "ticket to the Moon". In
      January 2017, SpaceIL became one of the competition’s five finalists. The competition officially ended with no
      winners in March 31, 2018, after Google ended their sponsorship.
    </p>
    
    <p>
      
      Regardless of the competition, SpaceIL is committed to continue and complete its mission, to land on the Moon and to
      the advancement of science and technology education in Israel.
    </p>
    <p>
      
      
      SpaceIL is actively working to create an Israeli "Apollo Effect.” SpaceIL is committed to inspiring the next
      generation in Israel and around the world to choose to study science, technology, engineering and mathematics
      (STEM).
      The launch will take place on an American SpaceX rocketinfirst quarter of 2019, and the Moon landing will be at the
      end of a two-month journey in space, after the launch.
    </p>
  </div>
  

  <img class="beresheet" src="https://static.wixstatic.com/media/c7b5ee_d3b5936bd5e14f9598cef32acbf854b3~mv2.jpg/v1/fill/w_960,h_717,fp_0.50_0.50,q_90/c7b5ee_d3b5936bd5e14f9598cef32acbf854b3~mv2.webp?retry=1">

    
  
  <div class="footer"> 
    Landing the second Israeli Spacecraft on the Moon
  </div>
</div>