
.document{
    display: grid;
    grid-gap: 30px;
    padding: 20px;
    background-color: rgb(21, 180, 0);
    grid-template-columns: 500px 800px;
}

.document > * {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    
}
.header{
    font-size: 200%;
    font-weight: bold;
    grid-column:span 2; 
    
}
.footer,.header{
    text-align: center;

}
.content,.footer{
    font-size: 150%;
}
.footer{
    grid-column-start: 1;
    grid-column-end: -1;
}
.beresheet{
    grid-row-start: 2;
     width: 95%;
}