:host {
  display: grid;
  height: 100vh;
  place-items: center;
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
