:host{
    display: grid;
    
    grid-template-columns: repeat(5,200px);
    grid-gap: 10px;
}
img{
    width: 100px;
}
.pokemon{
    height: 200px;
    width: 200px;
    border: red solid 2px;
    display: grid;
    place-items: center;
    margin: 20px;
    border-radius: 50%;

}