.document{
    background-color: black;
    padding: 20px;
    color: white;
    grid-gap: 20px;

    display: grid;
    grid-template: 
    " header header " 200px
    " peter  main " auto
    " footer footer " auto
    / 1fr 3fr;
}
header{
    grid-area: header;
}
main{
    grid-area: main;

}
.img{
    grid-area: peter;
    img{
        
        width: 100%;
}
}
footer{
    display: grid;
    place-content: center;
    grid-area: footer;

}


.document > *{
    font-family: eng;
    font-size: 150%;
    padding: 15px;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}