<div class="document">
  <header>
    <h1>Spider Man</h1>
  </header>
  <div class="img">
    <img src="https://wallpaperplay.com/walls/full/c/7/c/136440.jpg">

  </div>
  <main>
    <p>
      Spider-Man: Homecoming is a 2017 American superhero film based on the Marvel Comics character Spider-Man,
      co-produced by Columbia Pictures and Marvel Studios, and distributed by Sony Pictures Releasing. It is the second
      Spider-Man film reboot and the sixteenth film in the Marvel Cinematic Universe (MCU). The film is directed by Jon
      Watts, from a screenplay by the writing teams of Jonathan Goldstein and John Francis Daley, Watts and Christopher
      Ford, and Chris McKenna and Erik Sommers. Tom Holland stars as Peter Parker / Spider-Man, alongside Michael
      Keaton,
      Jon Favreau, Zendaya, Donald Glover, Tyne Daly, Marisa Tomei, and Robert Downey Jr. In Spider-Man: Homecoming,
      Peter
      Parker tries to balance high school life with being Spider-Man, while facing the Vulture.

    </p>
    <p>

      In February 2015, Marvel Studios and Sony reached a deal to share the character rights of Spider-Man, integrating
      the character into the established MCU. The following June, Holland was cast as the title character and Watts was
      hired to direct. This was followed shortly by the hiring of Daley and Goldstein. In April 2016, the film's title
      was
      revealed, along with additional cast, including Downey in his MCU role of Tony Stark / Iron Man. Principal
      photography began in June 2016 at Pinewood Atlanta Studios in Fayette County, Georgia, and continued in Atlanta,
      Los
      Angeles, and New York City. The other screenwriters were revealed during filming, which concluded in Berlin in
      October 2016. The production team made efforts to differentiate the film from previous Spider-Man films.
    </p>
    <p>

      Spider-Man: Homecoming premiered in Hollywood on June 28, 2017, and was released in the United States in 3D, IMAX,
      and IMAX 3D on July 7, 2017. Homecoming grossed over $880 million worldwide, making it the second-most successful
      Spider-Man film and the sixth-highest-grossing film of 2017. It received praise for the light tone and focus on
      Parker's high school life, and the performances of Holland and Keaton. A sequel, Spider-Man: Far From Home, is
      scheduled to be released on July 2, 2019.
    </p>
  </main>
  <footer>
    <h2>BEST AVENGER EVER</h2>
  </footer>
</div>