<h3>{{title.title}}</h3>
<div class="from" [formGroup]="rForm" (onSubmit)="onSubmit(rForm.value)">
    <mat-form-field>
        <input type="number" [formControlName]="'orderid'" matInput placeholder="order id">
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControlName]="'name'" placeholder="name">
    </mat-form-field>
    <button mat-button (click)="onSubmit(rForm.value)">Submit</button>
</div>
<div class="container">

    <div class="square" *ngFor="let i of list$ |async">
        <div class="xx">
            <button (click)="delete(i)" mat-icon-button>x</button>
        </div>
        <div class="label">

            <span>
                {{i.name}}
            </span>
        </div>
    </div>
</div>