.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 8px;
  place-items: center;
}
.square {
  display: grid;
  grid-template:
    "xx" 0.2fr
    "label" 0.6fr
    "w" 0.2fr;

  width: 120px;
  height: 120px;
  background-color: orange;
  border-radius: 10px;
  border: darkred solid 2px;
  .xx {
    display: grid;
    place-items: end;

   
}
.label{
    display: grid;
    place-items: center;

  }
}
