:host{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
    grid-gap: 20px;
}


div{
    background: rgba(252,234,187,1);
background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(230,212,168,1) 24%, rgba(255,200,61,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(24%, rgba(230,212,168,1)), color-stop(51%, rgba(255,200,61,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(230,212,168,1) 24%, rgba(255,200,61,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(230,212,168,1) 24%, rgba(255,200,61,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(230,212,168,1) 24%, rgba(255,200,61,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(230,212,168,1) 24%, rgba(255,200,61,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );

border-radius: 10px;
display: grid;
place-items: center;
border: solid darkblue 2px;
font-size: 200%;
cursor: pointer;

}