:host{
    display: block;
    padding: 20px
}
div{
    display: grid;
    place-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    border: 3px solid darkblue;
    padding: 5px;
    margin: 5px;
}